[Unit]
Description=ShellTime Daemon Service
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/shelltime-daemon
Restart=always
User=root
Group=root

[Install]
WantedBy=multi-user.target
